.jumbotron h1 {
  font-family: Piazzolla;
  color: #F2F2F2;
  letter-spacing: 15pt;
  font-size: 50pt;
  text-align: center;
  display: block;
}


hr.header {
  border: 2px solid #F29829;
}
.jumbotron {
  background-color: #700B19;
  height: 250px;
}

h4 {
  font-family: Piazzolla;
  letter-spacing:10pt;
  text-decoration: underline;
  padding-top: 400px;
  padding-bottom: 10px;
}

body {
  background-image: url("../images/woodoven-pizza.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-color: #A64F03;
  color: #F2F2F2;
  font-family: Piazzolla;
}

#build, #try-again {
  background-color: #700B19;
  color: #F2F2F2;
  font-style: bold;
  letter-spacing: 1px;
}

#pizza-builder {
  padding-top: 30px;
}

#pizza-builder p {
  font-size: 20px;
  padding-top: 15px;
  font-style: italic;
  letter-spacing: 1px;
}

#dream-pizza-show {
  display: none;
}